.boton-export{
	margin-left: 10px !important;
}

.daterange{
	margin-left: 5px;
	width: 210px !important;
}

.pagination{
	margin: 0px;
	float: right;
}
select[name=pagina]{
	width: 70px;
	/*float: right;*/
}
.labelpg{
	float: left;
	height: 34px;
	line-height: 34px;
	margin-right: 5px !important;
}
.cant{
	line-height: 34px;
}

.paginado{
	float: right;
}