body{
	background-color: #eee;
}
.item{
	background-color: #fff;
	margin-bottom: 30px;
	border: solid 1px rgba(0,0,0,0.1);
	border-radius: 5px;
	cursor: pointer;
	display: block;
	color: #000;
	text-decoration: none;
}
.item:hover{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	text-decoration: none;
}
.item:active{
	transform:scale(0.95,0.95);
}
.item .icono{
	font-size: 40px;
	text-align: center;
	margin: 20px 0;

}
.item .nom{
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
}
