.ql-toolbar.ql-snow{
    background-color: white;
}

.ql-editor {
    height: 300px !important;
}
.montadas{
    position: relative;
}
.parallax{
    position: absolute;
    top: 0;
}

.ql-editor tr, .ql-editor td {
    border-color: #54626B;
}
